/* - GENERAL - */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* disable text selection feature */
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
}

body {
  background: url("../img/battleship_bg.jpg") no-repeat;
  background-size: cover;
  opacity: 0.9;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.6em;
}

p {
  font-family: "Inconsolata", monospace;
  font-size: 1.2em;
}

/* -- MAIN CONTENT -- */
.container {
  min-height: 100vh;
}

main > div.wrapper {
  padding-left: 1em;
  padding-right: 2em;
}

#game-board {
  box-shadow: 25px 25px 9px -20px #00000024;
}

#game-board > div {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 1em;
}

#game-result {
  display: none;
}

/* --- HORIZONTAL GUIDES / VERTICAL GUIDES / SQUARES -- */
.square,
.blank_guide,
.h_guide,
.v_guide {
  width: 10%;
}

.square {
  background-color: #eaeaea;
  border: 0.5px solid #d1d1d1;
}

.square:hover {
  background-color: #dadada;
  cursor: pointer;
}

.square::before,
.v_guide::before {
  /* With this, we force the div aspect ratio to 1:1 (height = widt) */
  content: "";
  display: block;
  padding-top: 100%;
}

.h_guide {
  text-align: center;
  background-color: #bdbdbd;
  border: 0.5px solid #d1d1d1;
}

.v_guide {
  display: flex;
  justify-content: end;
  align-items: stretch;
}

.v_guide > span {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #bdbdbd;
  border: 0.5px solid #d1d1d1;
  width: 50%;
}

/* SQUARES STATUS */
.square.sunken {
  background-color: #f00;
  border: 2px solid #ff5252;
}

.square.missed {
  background-color: #00f;
  border: 2px solid #4140ff;
}

.square.parts {
  /* http://www.patternify.com/ */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAAXNSR0IArs4c6QAAAEZJREFUKFNjZEAD/5cx/GeMYmBEF0cRACmCKUBXDFcIUwRSgMyGawQxsEmgi2HVDTMFWTFYITbHYyhG9x02PtgwYhSC1AAAzhwgUSG/vXsAAAAASUVORK5CYII=);
}

.square.block {
  pointer-events: none;
}
